body {
    background-image: linear-gradient(to bottom right, #00d4ff, #090979);
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;

}

.button {
   
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  margin: 0 auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  background-image: url(beach.jpg);
  background-size: cover;
  background-position: center;
  width: 325px;
}

a:link {
    text-decoration: none;
    color: aliceblue;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button1:hover {
  background-image: url(litter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
    
}


a:visited {
    color: aliceblue;
}
  

.title {
    text-align: center;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */

#blog {
  top: 80px;
  background-color: #00d4ff;
}

#projects {
  top: 140px;
  background-color: #2196F3; 
}

#contact {
  top: 200px;
  background-color:  #090979;
}








